* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    margin: 40px auto;
    color: #75B79E;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid;
    margin: 7px 100px;
}

.card {
    width: 117px;
    height: 146px;
    border-radius: 5px;
    margin: 17px;
    background-color: #A7E9AF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    width: 100px;
    height: 100px;
}